# Predicting Heart Disease
#### Follows: end-to-end-heart-disease-classification.ipynb

## 1. Problem Definition
In our case, the problem we will be exploring is **binary classification** (a sample can only be one of two things). 

This is because we're going to be using a number of differnet **features** (pieces of information) about a person to predict whether they have heart disease or not.

In a statement,

> Given clinical parameters about a patient, can we predict whether or not they have heart disease?

## 2. Data

What you'll want to do here is dive into the data your problem definition is based on. This may involve, sourcing, defining different parameters, talking to experts about it and finding out what you should expect.

The original data came from the [Cleveland database](https://archive.ics.uci.edu/ml/datasets/heart+Disease) from UCI Machine Learning Repository.

Howevever, we've downloaded it in a formatted way from [Kaggle](https://www.kaggle.com/ronitf/heart-disease-uci/).

The original database contains 76 attributes, but here only 14 attributes will be used. **Attributes** (also called **features**) are the variables what we'll use to predict our **target variable**.

Attributes and features are also referred to as **independent variables** and a target variable can be referred to as a **dependent variable**.

> We use the independent variables to predict our dependent variable.

Or in our case, the independent variables are a patients different medical attributes and the dependent variable is whether or not they have heart disease.

## 3. Evaluation

The evaluation metric is something you might define at the start of a project.

Since machine learning is very experimental, you might say something like, 

> If we can reach 95% accuracy at predicting whether or not a patient has heart disease during the proof of concept, we'll pursure this project.

The reason this is helpful is it provides a rough goal for a machine learning engineer or data scientist to work towards.

However, due to the nature of experimentation, the evaluation metric may change over time.

## 4. Features

Features are different parts of the data. During this step, you'll want to start finding out what you can about the data.

One of the most common ways to do this, is to create a **data dictionary**.

### Heart Disease Data Dictionary

A data dictionary describes the data you're dealing with. Not all datasets come with them so this is where you may have to do your research or ask a **subject matter expert** (someone who knows about the data) for more.

The following are the features we'll use to predict our target variable (heart disease or no heart disease).

1. age - age in years 
2. sex - (1 = male; 0 = female) 
3. cp - chest pain type 
    * 0: Typical angina: chest pain related decrease blood supply to the heart
    * 1: Atypical angina: chest pain not related to heart
    * 2: Non-anginal pain: typically esophageal spasms (non heart related)
    * 3: Asymptomatic: chest pain not showing signs of disease
4. trestbps - resting blood pressure (in mm Hg on admission to the hospital)
    * anything above 130-140 is typically cause for concern
5. chol - serum cholestoral in mg/dl 
    * serum = LDL + HDL + .2 * triglycerides
    * above 200 is cause for concern
6. fbs - (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false) 
    * '>126' mg/dL signals diabetes
7. restecg - resting electrocardiographic results
    * 0: Nothing to note
    * 1: ST-T Wave abnormality
        - can range from mild symptoms to severe problems
        - signals non-normal heart beat
    * 2: Possible or definite left ventricular hypertrophy
        - Enlarged heart's main pumping chamber
8. thalach - maximum heart rate achieved 
9. exang - exercise induced angina (1 = yes; 0 = no) 
10. oldpeak - ST depression induced by exercise relative to rest 
    * looks at stress of heart during excercise
    * unhealthy heart will stress more
11. slope - the slope of the peak exercise ST segment
    * 0: Upsloping: better heart rate with excercise (uncommon)
    * 1: Flatsloping: minimal change (typical healthy heart)
    * 2: Downslopins: signs of unhealthy heart
12. ca - number of major vessels (0-3) colored by flourosopy 
    * colored vessel means the doctor can see the blood passing through
    * the more blood movement the better (no clots)
13. thal - thalium stress result
    * 1,3: normal
    * 6: fixed defect: used to be defect but ok now
    * 7: reversable defect: no proper blood movement when excercising 
14. target - have disease or not (1=yes, 0=no) (= the predicted attribute)

**Note:** No personal identifiable information (PPI) can be found in the dataset.

It's a good idea to save these to a Python dictionary or in an external file, so we can look at them later without coming back here.

In [2]:
# Prapare our tools
# load all the libraries you need (pandas, numpy matplotlib etc and ALL the scikit-learn stuff for classification)
import pandas as pd
import numpy as np

In [5]:
# Explore our data
# Do the usual .head(), .info(), .describe(), missing values etc
# HOWEVER, THIS IS THE PLACE WHERE WE BECOME SUBJECT MATTER EXPERTS OF EACH COLUMN IN OUR DATA
# Example: Try to see what is the ratio of male to women having heart disease?
    # BASED ON OUR DATA (NOT REAL WORLD): Who is more likely to get heart disease? M or F? 
    # Is our data biased?   
# Essentially, explore each column and it's relationship with the target column and every other column
# Get a mental map of what a prediction will look like BASED ON THE CURRENT DATA, and out goal should be to improve it

# We should also take some independant variables (feature variables) TOGETHER, and compare it to the dependant variable (target variable)

# We can keep going with visual EDA forever, but make sure you do not get carried away with it
# The goal here is to get some what of an overview of the data (and how a few columns relate to the target variable)

# Our main goal is to fit a ML model so the machine can pick up patterns we cannot even see with visual EDA

# See: https://github.com/nevaan9/The-Data-Analysis-Workshop/blob/master/Chapter07/Exercise7.05/Exercise7.05.ipynb

# This is what EDA is all about.
# Also keep this as a good resource: https://github.com/nevaan9/Hands-On-Data-Analysis-with-Pandas-2nd-edition

In [4]:
# Choose a model and run data into those models
# Try different models (datacamp repo has some examples how to do this)

# Then do some hyper param tuning:
# Search for "How to tune knnn classifier model" if you wanna tune knn

# Daniel gives a nice overview of what each row in the CLASSIFICATION_REPORT table returns - Watch the video in Evaluating A Model 2 and write them down
# ALSO READ READ READ SCIKIT-LEARN DOCS!

In [5]:
# Feature importance!

# First google: "How to find feature importance for <model type>"
# Read and try to understand the different strategies

In [6]:
# Experimentation

# If you haven't hit your evaluation metric yet... ask yourself...

# Could you collect more data?
# Could you try a better model? Like CatBoost or XGBoost?
# Could you improve the current models? (beyond what we've done so far)
# If your model is good enough (you have hit your evaluation metric) how would you export it and share it with others?

In [19]:
# Load data from the csv file
df = pd.read_csv('../../data/heart-disease.csv', index_col=0)
print(f"Number of rows/records: {df.shape[0]}")
print(f"Number of columns/variables: {df.shape[1]}")
df.head()

Number of rows/records: 303
Number of columns/variables: 13

,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
age,,,,,,,,,,,,,
63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [20]:
# Understand your variables
variables = pd.DataFrame(columns=['Variable','Number of unique values','Values'])

In [21]:
for i, var in enumerate(df.columns):
    print(f"Index : {i}, Value : {var}")
    variables.loc[i] = [var, df[var].nunique(), df[var].unique().tolist()]
variables

Index : 0, Value : sex
Index : 1, Value : cp
Index : 2, Value : trestbps
Index : 3, Value : chol
Index : 4, Value : fbs
Index : 5, Value : restecg
Index : 6, Value : thalach
Index : 7, Value : exang
Index : 8, Value : oldpeak
Index : 9, Value : slope
Index : 10, Value : ca
Index : 11, Value : thal
Index : 12, Value : target

/Users/nevaanperera/MachineLearningProjects/zero-to-mastery-ml/conda-env/lib/python3.9/site-packages/numpy/core/_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

,Variable,Number of unique values,Values
0,sex,2,"[1, 0]"
1,cp,4,"[3, 2, 1, 0]"
2,trestbps,49,"[145, 130, 120, 140, 172, 150, 110, 135, 160, ..."
3,chol,152,"[233, 250, 204, 236, 354, 192, 294, 263, 199, ..."
4,fbs,2,"[1, 0]"
5,restecg,3,"[0, 1, 2]"
6,thalach,91,"[150, 187, 172, 178, 163, 148, 153, 173, 162, ..."
7,exang,2,"[0, 1]"
8,oldpeak,40,"[2.3, 3.5, 1.4, 0.8, 0.6, 0.4, 1.3, 0.0, 0.5, ..."
9,slope,3,"[0, 2, 1]"
10,ca,5,"[0, 2, 1, 3, 4]"
11,thal,4,"[1, 2, 3, 0]"
12,target,2,"[1, 0]"